.sort-icon {
    font-size: 9px;
    margin-left: 5px;
}

.navbar {
    margin-bottom: 0;
    background-color: LightSkyBlue ;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.tab-pane{
	background-color: AliceBlue;
}

.nav-tabs{
  background-color: white;
}

.nav-tabs > li > a {
  border: medium none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
   border-radius: 0;
}

.nav-tabs > li > a:hover{
  background-color: #303136 !important;
    border: medium none;
    border-radius: 0;
    color:#fff;
}

table.dispaydata {
    border-collapse: collapse;
}

th {
    border: 1px solid black;
    text-align: left;
    hight: 50px;
    padding: 8px;
    background-color: #ffb3b3;
}

td {
	width: 10px;
    border: 1px solid #ddd;
    padding: 8px;
}

table tr th {
  width: 25%;
}

.container.submenubar {
}

.container.upper {
	min-height: 10px;
	margin-top: 5px;
}

.container.middle {
/* 	background-color: green; */
	min-height: 50px;
	margin-left: 200px;
	margin-right: 200px;
}

.container.lower {
	min-height: 800px;
}

.searchrow {
	margin-bottom: 10px;
}







